<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MUserInfoMapper">
    
    <resultMap type="MUserInfo" id="MUserInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="img"    column="img"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
        <result property="gender"    column="gender"    />
        <result property="introduction"    column="introduction"    />
        <result property="listenTime"    column="listen_time"    />
    </resultMap>

    <sql id="selectMUserInfoVo">
        select user_id, img, name, age, gender, introduction, listen_time from m_user_info
    </sql>

    <select id="selectMUserInfoList" parameterType="MUserInfo" resultMap="MUserInfoResult">
        <include refid="selectMUserInfoVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id like concat('%', #{userId}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="params.beginAge != null and params.beginAge != '' and params.endAge != null and params.endAge != ''"> and age between #{params.beginAge} and #{params.endAge}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="introduction != null  and introduction != ''"> and introduction like concat('%', #{introduction}, '%')</if>
            <if test="params.beginListenTime != null and params.beginListenTime != '' and params.endListenTime != null and params.endListenTime != ''"> and listen_time between #{params.beginListenTime} and #{params.endListenTime}</if>
        </where>
    </select>
    
    <select id="selectMUserInfoByUserId" parameterType="String" resultMap="MUserInfoResult">
        <include refid="selectMUserInfoVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertMUserInfo" parameterType="MUserInfo">
        insert into m_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="img != null">img,</if>
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="gender != null">gender,</if>
            <if test="introduction != null">introduction,</if>
            <if test="listenTime != null">listen_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="img != null">#{img},</if>
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="gender != null">#{gender},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="listenTime != null">#{listenTime},</if>
         </trim>
    </insert>

    <update id="updateMUserInfo" parameterType="MUserInfo">
        update m_user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="img != null">img = #{img},</if>
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="listenTime != null">listen_time = #{listenTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteMUserInfoByUserId" parameterType="String">
        delete from m_user_info where user_id = #{userId}
    </delete>

    <delete id="deleteMUserInfoByUserIds" parameterType="String">
        delete from m_user_info where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>